{% extends "base.html" %}

{% block content %}
<section class="page-header">
    <h2>Adicionar Brinquedo</h2>
    <p>Cadastre um novo item no estoque da loja.</p>
</section>

<section class="panel">
    <form method="POST" class="form">
        <label>
            Nome do produto
            <input type="text" name="nome" placeholder="Ex: Woody" required>
        </label>

        <label>
            Categoria
            <input type="text" name="categoria" placeholder="Ex: Boneco" required>
        </label>

        <label>
            Quantidade
            <input type="number" name="quantidade" min="0" placeholder="Ex: 10" required>
        </label>

        <label>
            Preço
            <input type="number" name="preco" step="0.01" min="0" placeholder="Ex: 59.90" required>
        </label>

        <button type="submit">Salvar Produto</button>
    </form>
</section>
{% endblock %}